@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  display: flex;
  width: fit-content;
}

/* Custom scrollbar for charts */
.chart-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.chart-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.chart-scrollbar::-webkit-scrollbar-thumb {
  background: #F40009;
  border-radius: 10px;
}

.chart-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d60008;
}

