@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  display: flex;
  width: fit-content;
}

/* Custom scrollbar for charts */
.chart-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.chart-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.chart-scrollbar::-webkit-scrollbar-thumb {
  background: #F40009;
  border-radius: 10px;
}

.chart-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d60008;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px) scale(1);
  }
  to {
    opacity: 0.3;
    transform: translateX(0) scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in;
}

